.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.animation-frame {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#animation-head {
  height: 170px;
  width: 170px;
  border-radius: 100px;
  background-color: chocolate;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px black;
}

#animation-body {
  height: 250px;
  width: 125px;
  border-radius: 200px;
  background-color: lightseagreen;
  position: absolute;
  top: 100px;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#animation-eyes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

#animation-eye {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#animation-smile {
  width: 50%;
  height: 10px;
  background-color: black;
  border-radius: 10px;
}

#animation-pupil {
  /* position: absolute; */
  z-index: 3;
  background-color: black;
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 1px black;
}

#sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dog-mouth {
  width: 70%;
  height: 30px;
  background-color: tan;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  box-shadow: 2px 2px 2px black;
}

#dog-nose {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: black;
  margin: 4px;
}

.dog-ear {
  height: 100px;
  width: 30px;
  border-radius: 25px;
  background-color: black;
  /* z-index: 2; */
}

.dog-collar {
  /* position: relative;
  top: 80; */
  /* height: 200px;
  width: 60px;
  border-radius: 10px;
  background-color: white;
  border: 0.5px solid black;
  border-top: none;
  margin: 4px; */
  width: 80px;
  height: 40px;
  box-shadow: 2px 2px 2px black;
  /* margin: 5px; */
  margin: -15px;
  background: gainsboro;
}

.dog-tie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

#dog-knot-tie {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 10p;
  border: 20px solid rgb(177, 79, 79);
  border-top: 40px dotted rgba(0, 0, 0, 0);
  border-bottom: 18px dotted rgba(0, 0, 0, 0);
  border-radius: 28px;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  z-index: 1.5;
}

#dog-long-tie {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 21px 152px 21px;
  border-color: transparent transparent rgb(177, 79, 79) transparent;
  margin: -55px 0 0 0;
}
